<div class="row alert">
	<div class="medium-12 columns">
	  <div class="panel callout">
	    <h2>Ooops!</h2>
	    <p>We do not currently support Internet Explorer 8 or below.</p>
	    <p>We are working to make this better, but in the mean time, try a better browser.</p>
	    <p>We recommend <a href="https://www.google.com/chrome/">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>.</p>
	  </div>
	</div>
</div>