{{#items}}
    <p>
      <a href="{{link}}">
        {{#if do_images}}
            {{#if imgurl}}
              <img src="{{imgurl}}">
            {{/if}}
        {{/if}}
        {{{title}}}
    </a>
    </p>
    {{#if ../more}}
      <div class="more">{{{description}}}</div>
    {{/if}}
{{/items}}
