<div class="reveal-modal small" id="info-box" data-reveal role="dialog" aria-labelledby="counsModalLabel" aria-describedby="counsModalAbout">
	<a class="close-reveal-modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
  <div class="modal-dialog">
    <div class="modal-content">
		<!-- rendered counselor data will go here -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="app counselor-map map-wrap">
	<div class="intl-counselor"></div>
    <div id="map-canvas"></div>
</div>
