{% load util_tags %}
<table>
  <caption class="show-for-sr">Undergraduate Degrees</caption>
  <thead>
    <tr>
      <th class="degree-name" scope="col">Degree</th>
      <th class="academic-area" scope="col">Academic Area</th>
      <th scope="col">Degree Type</th>
    </tr>
  </thead>
  <tbody>
  {% for degree in degrees_list %}
  <tr>
    <th data-title="Degree" scope="row"><a href="{{ degree.page_ref.get_absolute_url }}">{{ degree.page_ref.short_title }}</a></td>
    <td class="academic-area" data-title="Academic Area">{{ degree.academic_area.title }}</td>
    <td>
    {% include "partials/academics/MMC_for_major.html" with major_types=degree.mmc.all %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
