{% load content_tags %}

{% get_areas as areas %}
{% get_mmc as mmcs %}

<div class="sub-title gray">Undergraduate Degrees</div>
<div class="wrap-form wrap-filters">
  <form action="">
     <div class="form-item item-name">
       <label for="search-title" class="show-for-sr">Search degree programs</label>
       <input type="text" id="search-title" onkeyup="go()" placeholder="start typing name">
     </div>
  </form>
</div>
