<div class="video-banner">
	<video autoplay loop poster="https://s3.amazonaws.com/shc.edu.common.static/video/banner/web_beauty_banner-CROP2Poster.jpg">
		<source src="https://s3.amazonaws.com/shc.edu.common.static/video/banner/web_beauty_banner-CROP2.ogv" type="video/ogv">
		<source src="https://s3.amazonaws.com/shc.edu.common.static/video/banner/web_beauty_banner-CROP2.mp4" type="video/mp4">
		<source src="https://s3.amazonaws.com/shc.edu.common.static/video/banner/web_beauty_banner-CROP2.webm" type="video/webm">
		Your browser does not support the <code>video</code> element.
	</video>
</div>