{% extends "grid/bricks_two-col_left-sidebar.html" %}
{% load applicationcontent_tags %}
{% block main %}
<div class="magazine-index">
    <h2>Magazines</h2>
    {% if magazines %}
    <ul>
        {% for magazine in magazines %}
            <a href="{% app_reverse 'magazine_detail' 'magazine.urls' slug=magazine.slug %}">
                <li>
                    {{ magazine.issue_string }}
                    {% if not magazine.active %}<span class="label">inactive</span>{% endif %}
                </li>
            </a>
        {% endfor %}
    </ul>
    {% else %}
    <p>Cound not find any active magazine issues.</p>
    {% endif %}
</div>
{% endblock %}
