{% extends "grid/bricks_two-col_left-sidebar.html" %}
{% load feincms_tags util_tags %}

{% block main %}
<!-- contains hAtom microformats proposed by http://www.readability.com/publishers/guidelines/ -->
<article class="hentry magazine">
    <header>
        <h1 class="entry-title">
            {{ story.story }} {% if not story.issue.active %} <span class="label">inactive</span>{% endif %}
        </h1>
    </header>
    <div class="entry-content">
        {% feincms_render_region story.story "main" request %}
    </div>
</article>
{% endblock %}

{% block sidebar %}
    {% include 'magazine/partials/magazine_sidebar.html' %}
{% endblock %}
