{% extends "grid/bricks_two-col_left-sidebar.html" %}
{% load util_tags %}
{% block main %}
    {% if magazine %}
        <div class="magazine article-list">
            <h2>{% include 'magazine/partials/magazine_title.html' %}</h2>
            {% if issue.banner_image %}
            <div class="banner-image">
                <img src="{{ issue.banner_image.get_absolute_url }}" />
            </div>
            {% endif %}
            {% regroup stories by story_type as story_list %}
            {% for group in story_list %}
                <h3 class="group_head {{group.grouper}}">{{ story_groups|keyvalue:group.grouper }}</h3>
                {% for story in group.list %}
                    <div class="row story {{ story.story_type }}">
                        {% include story.listing_template with story=story %}
                    </div>
                {% endfor %}
            {% endfor %}
            {% if issue.issuu_link %}
            <div class="issuu">
                <a class="button" href="{{ issue.issuu_link }}">
                    Read this magazine on Issuu.com
                </a>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include 'magazine/partials/magazine_sidebar.html' %}
{% endblock %}
