<!DOCTYPE html>
<html class="no-js debug anon" lang="en">

  include "includes/head.html"

  <body>
    <div class="main-page">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <div class="wrap-content main-body">
            include "includes/header.html"
            include "includes/off-canvas.html"

            <!-- main content -->
            <div class="wrap-breadcrumbs">
              <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
                  <li role="menuitem"><a href="#">Home</a></li>
                  <li role="menuitem" class="current"><a href="#">Campus map</a></li>
              </nav>
            </div>


            
            <div class="content main-content row">
               <!--div class="small-12">
                    <div class="action-back">
                        <a class="btn btn-primary" href="{{ qs.refurl }}" role="button">fghfgh</a>
                    </div>
                </div-->
                <div class="small-12 large-3 columns sidebar">
                 <div class="wrap-search-map">
                  <div class="search input-group">
                    <input type="text" class="form-control" placeholder="Search the map">
                    <button class="btn-search" type="button"><i class="icon-search-dark"></i></button>
                  </div>
                  <div class="search-help help">
                    <p>Search by building, department, or function, for example: <a href="#" >Building: Quinlan</a>, <a href="#" >Building code: BL</a></p>
                   </div>
                </div>
                  <ul class="sidebar-menu list-group show-for-large">
                    <li>
                      <a href="#" class="list-group-item action-parking" title="Show or hide parking map">
                        <i class="icon-landmark"></i><span>Parking</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item action-beautify" title="Hide the map icons">
                         <i class="icon-beautify"></i><span>Beautify</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item action-reset" title="Reset the map to its original position">
                        <i class="icon-marker"></i><span>Reset Position</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="small-12 large-9 columns site-actions">
                    <div class="map">
                        <div id="map-canvas">
                          <img src="../../static/theme/images/img-map.jpg" alt="">
                        </div>
                        <div grab-handle visible-on="show-for-small"></div>
                      </div>
                    <div class="wrap-parking-key hide">
                      <h2>Parking Key</h2>
                      <ul class="parking-key list-group list-inline">                        
                        <li class="visitor list-group-item">Visitor</li>
                        <li class="facstaff list-group-item">Facstaff</li>
                        <li class="non-resident list-group-item"><em></em>Non-Resident</li>
                        <li class="toolen-oleary list-group-item"><em></em>Toolen and O'Leary Residents</li>
                        <li class="fairways-walsh list-group-item"><em></em>Fairways and Walsh Residents</li>
                        <li class="viragh-skips list-group-item"><em></em>Viragh and Skip's Residents</li>
                        <li class="new-hall list-group-item"><em></em>New Hall Residents</li>   
                      </ul>
                      <p class="alert alert-warning"> <i class="icon-warning"></i> Note that parking outlines are approximate. Drivers should park only in appropriately marked spaces.</p>
                    </div>

                    <div class="show-for-medium-down">
                       <ul class="sidebar-menu list-group">
                        <li>
                          <a href="#" class="list-group-item action-parking" title="Show or hide parking map">
                            <i class="icon-landmark"></i><span>Parking</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="list-group-item action-beautify" title="Hide the map icons">
                             <i class="icon-beautify"></i><span>Beautify</span>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="list-group-item action-reset" title="Reset the map to its original position">
                            <i class="icon-marker"></i><span>Reset Position</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                </div>
            </div>
                  
                </div>
            </div>

            <!-- /end main content -->

                
          </div>
          include "includes/footer.html"   
        </div>
      </div>
    </div>

    include "includes/scripts.html" 

  </body>
</html>