<div class="item small-12 medium-6 large-12 columns">
  <a href="">
    <img src="../../static/theme/images/img-8.jpg" alt="">
    <span class="description"> <span>Request more information on this program</span></span>
  </a>
</div>
<div class="item small-12 medium-6 large-12 columns">
  <img src="../../static/theme/images/img-9.jpg" alt="">
  <span class="description"><span>Visit  Department Homepage for details on this program</span>                  
</div>
<div class="item small-12 medium-6 large-12 columns">
  <img src="../../static/theme/images/img-10.jpg" alt="">
  <span class="description"><span>Visit the Hill</span>                  
</div>
<div class="item small-12 medium-6 large-12 columns">
  <img src="../../static/theme/images/img-11.jpg" alt="">
  <span class="description"><span>Apply to Spring Hill</span>                  
</div>