<footer class="main-footer"  id="footer">
  <div class="footer-content">
    <div class="row">
      <div class="small-6 large-3 columns contact-menu">
        <ul>
          <li>
            <a href="/people-and-places/">People and Places</a>
          </li>
          <li>
            <a href="/people-and-places/contact-us/">Contact Us</a>
          </li>
          <li>
            <a href="/people-and-places/departmental-websites/">Departmental Websites</a>
          </li>
          <li>
            <a href="/people-and-places/faculty-and-staff-directory/">Faculty and Staff Directory</a>
          </li>
          <li>
            <a href="/people-and-places/parents/">For Spring Hill Parents</a>
          </li>
        </ul>
      </div>
      <div class="small-6 large-3 columns services-menu">
        <ul>
          <li>
            <a href="http://www.shc.edu/about/map/" target="_blank">Campus Map</a>
          </li>
          <li>
            <a href="http://badgerweb.shc.edu/">BadgerWeb</a>
          </li>
            <li>
          <a href="http://www.shc.edu/page/using-campus-email">Campus Email</a>
          </li>
            <li>
          <a href="http://m.shc.edu/">Mobile Website</a>
          </li>
        </ul>
      </div>
      <div class="small-6 large-2 columns other-menu">
        <ul>
          <li><a href="http://www.shc.edu/privacy/">Privacy Policy</a></li>
          <li><a target="_blank" href="#">Report a problem</a></li>
        </ul>
      </div>
      <div class="small-12 large-4 columns column-copyright">
        <p class="copyright">©Spring Hill College </p>
        <p class="physical-address">4000 Dauphin St. Mobile,<br/> Alabama 36608
          <a class="tel" href="tel:8007426704">800-742-6704</a>
          <a class="tel" href="tel:2513804000">251-380-4000</a>
        </p>
        <ul class="social-menu inline-list">          
          <li>
            <a href="http://www.shc.edu/tracker/youtube/" title="Videos on YouTube"><i class="icons icon-youtube"></i></a>
          </li>
          <li>
            <a href="http://www.shc.edu/tracker/flickr-tour/" title="Images on Flickr"><i class="icons icon-gp"></i></a>
          </li> 
          <li>
            <a href="http://www.shc.edu/tracker/facebook-admiss/" title="Like us on Facebook"><i class="icons icon-fb"></i></a>
          </li>          
          <li>
            <a href="http://www.shc.edu/tracker/flickr-tour/" title="Images on Flickr"><i class="icons icon-tw"></i></a>
          </li>
          <li>
            <a href="http://www.shc.edu/tracker/twitter/" title="Follow us on Twitter"><i class="icons icon-flickr"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>