<header class="main-header">
  
    <nav class="top-bar">
     
      <section class="header-content">
        <div class="row"> 
           <a class="left-off-canvas-toggle menu-icon show-for-medium-down left"><i class="icons icon-menu"></i></a>
           <a href="" class="logo-center">
            <img src="../../static/theme/images/logo.jpg" alt="">
           </a>  
           <div class="wrap-sub-menu hide-for-medium-down">
             <div class="wrap-links">
                <ul class="main-menu">
                  <li><a href="#">ATHLETICS</a></li>
                  <li><a href="#">ALUMNI</a></li>
                  <li><a href="#">News and events</a></li>
                </ul>
             </div>
              <div class="wrap-search">
               <form action="/search" method="GET">
                  <div class="row collapse search">
                      <div class="form-item">
                          <button type="submit" class="search-button postfix hide"><span>search</span><i class="icons icon-search"></i></button>
                          <input type="text" class="hide" placeholder="Type text for search" name="q" id="q">            
                          <a class="postfix show-search-button"><span>search</span> <i class="icons icon-search"></i></a>
                      </div>
                  </div>
              </form>           
             </div>
           </div> 
         </div>
      </section> 


      <section class="top-bar-section hide-for-medium hide-for-small">
      <div class="row"> 
      <ul class="main-menu">
       <li class="has-dropdown">
            <a href="#">ABOUT SPRING HILL</a>
            <!--ul class="dropdown">
                <li><a href="#">First link in dropdown</a></li>
                <li class="active"><a href="#">Active link in dropdown</a></li>
            </ul-->
        </li>
        <li><a href="#">UNDERGRADUATE</a></li>
        <li><a href="#">gRADUATE</a></li>
        <li><a href="#">CONTINUING STUDIES</a></li>
        <li><a href="#">ATHLETICS</a></li>
        <li><a href="#">ALUMNI</a></li>
        <li><a href="#">News and events</a></li>
      </ul>
       </div>
     </section>
        
    </nav>
 
</header>