<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/theme/images/icons/favicon.gif" type="image/gif">

    <title>Academics for Adult Learners</title>

    <link type="text/css" rel="stylesheet" href="../../static/theme/css/theme.css">
    
    <!--link type="text/css" rel="stylesheet" href="/static/theme/styles/theme.css"-->

    <script src="../../static/theme/js/vendor/modernizr/modernizr.js"></script>
    
    <!--[if lt IE 9]>
    <script src="/static/theme/vendor/html5shiv.min.js"></script>
    <![endif]-->
    
    <!--[if IE 9]>
      <link rel="stylesheet" type="text/css" href="/static/theme/styles/ie9.css">
    <![endif]-->
    
    
        
  <meta class="foundation-data-attribute-namespace">
  <meta class="foundation-mq-xxlarge">
  <meta class="foundation-mq-xlarge-only">
  <meta class="foundation-mq-xlarge">
  <meta class="foundation-mq-large-only">
  <meta class="foundation-mq-large">
  <meta class="foundation-mq-medium-only">
  <meta class="foundation-mq-medium">
  <meta class="foundation-mq-small-only">
  <meta class="foundation-mq-small">
  <meta class="foundation-mq-topbar">

</head>