 <!-- popups -->

<div class="mfp-hide">
       <div class="small-popup"  id="login-popup">
            <h2>SIGN IN</h2>
            <div class="wrap-form">
            	<form action="">
            		<div class="form-item">
            			<label for="" class="required">Login or E-mail address:</label>
            			<input type="text">
            		</div>
            		<div class="form-item">
            			<label for="" class="required">Password:</label>
            			<input type="text">
            		</div>
            		<div class="form-item btns-item">
            			<button>submit</button>
            		</div>
            		<p><a href="">Forgot your passsword?</a></p>
            		<p>Not a member? <a href="">Sign up here </a></p>
            	</form>
            </div>
            
       </div>

     </div>