{% extends "grid/single_col_stacked.html" %}

{% load feincms_tags %}

{% block content %}
<div class="profile-page">
  <div class="row-wrapper">
    <div class="row">
      <div class="medium-12 columns">
      {% if profile %}
      <div class="profile">
        <h1>{{ profile }}</h1>
        {% include "profiles/partials/profile_titles.html" with hide_main_title=True %}
        <div class="profile-content">
            {% feincms_render_region profile "main" request %}
        </div>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
