{% load feincms_tags %}

{% if profile %}
<div class="profile">
  <h1 class="profile-title">{{ profile }}</h1>
  {% include "profiles/partials/profile_titles.html" with hide_main_title=True %}
  <div class="profile-content">
      {% feincms_render_region profile "main" request %}
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endif %}
