{{#each emps }}
<div itemprop="employee" itemscope itemtype="http://schema.org/Person" class="person">
  <p><span itemprop="name" class="name">{{ natural_name }}</span>
    <br><span itemprop="jobTitle">{{ position }}</span>
    {{#if phone }}
      <br>
      <a href="tel:{{ phone.[1] }}">
        <i class="fi-telephone"></i>
        <span itemprop="telephone">{{ phone.[0] }}</span>
      </a>
    {{/if}}
    {{#if memail }}
      <br>
      <a class="memail" data-coded="{{ memail }}" itemprop="email">
        <i class="fi-mail"></i>
        <span></span>
      </a>
    {{/if}}</p>
</div>
{{/each}}
