{% load thumbnail %}
<div class="testimonial">
<blockquote>
	{% if tm.image %}
		<div class="image has-icon comments">
			<img src="{{ tm.image|thumbnail_url:'testimonial' }}" class="" alt="{{ tm.attribution }}" />
		</div>
	{% endif %}
	<p>{{ tm.content }}</p>
	{% if tm.attribution %}
		<p class="attribution">&mdash; {{ tm.attribution }}</p>
	{% endif %}
</blockquote>
</div>
