{% load content_tags %}

<h3>{{ job.title }}</h3>
<div class="summary">
	{{ job.summary|safe }}
</div>
<div class="eoe discreet">
	{% get_partial_by_id 1003 as eoe %}
	{{ eoe|safe }}
</div>
{% if job.job_description %}
<div class="dl">
	<a href="{{ job.job_description.url }}"><span class="icon-pdf"></span> Download the full Job Description</a>
</div>
{% endif %}
