{% verbatim %}
<div class="employeeList" ng-app="SHCDirectory">
    <div ng-controller="EmployeeCtrl">
        <div class="apps directory">
            <div class="row site-actions">
                <div class="small-12 columns">
                    <div class="action-back" ng-show="qs.ref && qs.refurl">
                        <a class="btn btn-primary" ng-href="{{ qs.refurl }}" role="button">{{ qs.ref }}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="emp-search small-12 columns">
                    <div class="row collapse">
                        <div class="small-11 columns">
                            <label class="show-for-sr" for="dir_q" class="">Search input</label>
                            <input type="text" name="dir_q" class="form-control" placeholder="{{ search.get_placeholder() }}" ng-model="search.q" ng-keyup='search.fetch()' focus-on="search_is_ready">
                        </div>
                        <div class="small-1 columns">
                            <span class="postfix">
                                <a href="#" class="input-group-addon" title="clear search" ng-click="search.clear()" eat-click>
                                    <span ng-class="{'fa fa-repeat fa-spin fa-fw': search.loading, 'fa fa-times-circle': !search.loading}"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message row" ng-hide="search.haveResults() || search.in_limbo">
                <div class="small-12 columns">
                    <div class="alert-box" ng-class="{'info': !search.valid_q(), 'warning': search.valid_q()}">
                        <p class="lead">No results</p>
                        <div ng-hide="search.valid_q()"><p>Enter at least <span class="label label-default">{{ search.countdown() }}</span> characters in search bar to begin searching</p></div>
                        <div ng-show="search.valid_q()"><p>Sorry, I couldn't find any results for '{{ search.q }}'</p></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-show="error" ng-bind-html-unsafe="error" class="col-sm-12"></div>
            </div>
            <div ng-class="{'data-wrapper': true, clearfix: true, loading: search.loading}">
                <!-- Department list -->
                <div ng-repeat="dept in departments.list" ng-show="departments.list.length">
                    <h2 ng-if="$first">Departments</h2>
                    <div class="panel panel-info group-card">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ dept.name }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="small-6 columns">
                                    <ul class="no-bullet"
                                        <span ng-repeat="phone in dept['phones']">
                                            <li ng-show="phone">
                                                <a class="list-group-item">
                                                    <span class="fa fa-phone"></span></span>
                                                    <span ng-bind="phone['number'][0]"></span>
                                                </a>
                                            </li>
                                        </span>
                                        <li ng-show="dept.email">
                                            <a class="list-group-item" ng-href="mailto:{{ dept.email }}">
                                                <span class="fa fa-envelope"></span>
                                                <span ng-bind="dept.email">
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="links" ng-show="dept['urls']">
                                            <a class="list-group-item"
                                            ng-href="{{ url['url'] }}"
                                            ng-repeat="url in dept['urls']">
                                            <span class="fa fa-link"></span>
                                            {{ url['url_title'] }}
                                            </a>
                                    </div>
                                </div>
                                <div class="small-6 columns">
                                    <div class="list-group">
                                        <a href="#searchDept"
                                        ng-click="departments.do_search(dept['code'], dept['name'])"
                                        title="list this department"
                                        class="list-group-item"
                                        eat-click>
                                            <span class="fa fa-search"></span></span>
                                            List everyone in <strong>{{ dept['name'] }}</strong>
                                        </a>
                                        <a ng-href="/about/map/#?loc={{ dept['loc']['slug'] }}"
                                        ng-if="dept['loc']['name'] && dept['loc']['slug']"
                                        target="_blank"
                                        title="map opens in new window"
                                        class="list-group-item"
                                        eat-click>
                                            <span class="fa fa-map-marker"></span> {{ dept['loc']['name'] }}
                                        </a>
                                        <a ng-if="dept['loc']['name'] && !dept['loc']['slug']"
                                            class="list-group-item"
                                            eat-click>
                                            {{ dept['loc']['name'] }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Employee list -->
                <div ng-repeat="employee in employees.list | orderBy:employees.orderProp">
                    <h2 ng-if="$first">Employees</h2>
                    <div ng-class="{'employee': true, 'last': $last}">
                        <div class="row bump">
                            <div class="small-12 columns">
                                <div class="profile-card">
                                    <div class="row">
                                        <div class="small-8 medium-9 columns">
                                            <h4>{{ employee['natural_name'] }} <span class="entityType {{ employees.emp_type }}" title="{{ employees.getType(employee) }}">{{ employees.emp_type }}</span></h4>
                                            <p ng-bind="employee['position']" class="title"></p>
                                            <div class="row">
                                                <div class="small-12 medium-6 columns">
                                                    <ul class="no-bullet">
                                                        <li ng-show="employee['memail']">
                                                            <a ng-href="mailto:{{ employees.getMungedEmail(employee) }}">
                                                                <span class="fa fa-envelope-o"></span></span>
                                                                <span ng-bind="employees.getMungedEmail(employee)"></span>
                                                            </a>
                                                        </li>
                                                        <li ng-show="employee['phone'][0]">
                                                            <a ng-href="tel:{{ employee.phone[1] }}">
                                                                <span class="fa fa-phone-square"></span>
                                                                <span ng-bind="employee.phone[0]"></span>
                                                            </a>
                                                        </li>
                                                        <li ng-if="employee.data.urls">
                                                            <a ng-repeat="url in employee.data.urls" ng-href="{{ url['url'] }}" target="_blank">
                                                                <span class="fa fa-link"></span></span>
                                                                <span ng-bind="url['url_title']"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="small-12 medium-6 columns">
                                                    <ul class="no-bullet">
                                                        <li>
                                                            <a href="#searchDept"
                                                            ng-click="departments.do_search(employee['department']['code'], employee['department']['name'])"
                                                            title="list this department"
                                                            class="list-group-item department"
                                                            eat-click>
                                                            <span class="fa fa-building-o"></span>
                                                            {{ employee['department']['name'] }}
                                                            </a>
                                                        </li>
                                                        <ng-if="employee['groups']">
                                                        <span ng-repeat="group in employee['groups']">
                                                            <li>
                                                                <a href="#searchGroup"
                                                                title="list this group"
                                                                ng-click="departments.do_search(group['code'], group['name'])"
                                                                class="list-group-item"
                                                                role="button"
                                                                eat-click>
                                                                    <span class="fa fa-building-o"></span></span>
                                                                    {{ group['name'] }}
                                                                </a>
                                                            </li>
                                                        </span>
                                                        </ng-if>
                                                        <li ng-show="employee['department']['location']['slug']">
                                                            <a ng-href="/about/map/#?loc={{ employee['department']['location']['slug'] }}&compact=1"
                                                            target="_blank"
                                                            title="map opens in new window"
                                                            class="list-group-item map-link"
                                                            role="button">
                                                                <span class="fa fa-map-marker"></span>
                                                                <span ng-bind-html-unsafe="employee['office_location']||strings.no_office"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-4 medium-3 columns">
                                            <img ng-src="{{ employee.photo }}" alt="profile image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row meta hidden-xs">
            <div class="small-12 columns">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Found a problem or omission?</h3>
                    </div>
                    <div class="panel-body">
                        <p><a class="btn btn-primary" href="http://www.shc.edu/directory/update/">
                            Add, update, or remove employee or departmental information
                            <br>(you must be logged in to your SHC Google account)
                        </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="search.haveResults()">
            <div class="row meta hidden-xs">
                <div class="small-12 columns">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#" ng-click="link = !link" eat-click><span class="glyphicon glyphicon-link"></span> Link / embed <small>(click to open)</small></a>
                            </h3>
                        </div>
                        <div class="panel-body" ng-show="link == true">
                            <h4>Link</h4>
                            <p>The URL for this search is: <a ng-href="{{ search.get_search_url(search.absUrl, search.q) }}">{{ search.get_search_url(search.absUrl, search.q) }}</a></p>
                            <p>Copy and paste the following code to link to these search results:</p>
                            <p>
                                <code>{{ search.link }}</code>
                            </p>
                            <h4>Embed</h4>
                            <p>Copy and paste the following code to embed these search results in your web site:</p>
                            <p>
                                <code>{{ search.embed }}</code>
                            </p>
                            <form>
                                <label for="iframe-height">iframe height (in pixels)</label>
                                <input class="form-control input-sm"
                                id="iframe-height"
                                type="number"
                                value="800"
                                ng-model="embed.iframe_h">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--<%- @partial('colophon-builtwith-docpad-angular-bootstrap-grunt') %>-->
</div>
{% endverbatim %}
