{% extends "apps/printable.html" %}
{% block content %}
	{% if error %}
		<p>{{ error }}</p>
	{% else %}
		<div id="header">
			<h1>SHC Employees by Alpha</h1>
		</div>
		<div id="employees" class="alpha">
		{% for emp in emps %}
			{% include "apps/partials/print-employee.html" %}
		{% endfor %}
		</div>
		{% include "apps/partials/print_directory_footer.html" %}
	{% endif %}
{% endblock %}
