{% extends "default.html" %}
{% load feincms_tags feincms_page_tags mptt_tags navigation_tags util_tags %}

{% block content %}
    {% block banner %}
        {% if feincms_page.content.banner %}
        <div class="row-wrapper {{ row_wrapper_1_style }}">
          <div class="row">
            <div class="medium-12 columns">
                {% for content in feincms_page.content.banner %}
                 <div class="block">
                     {% feincms_render_content content request %}
                 </div>
                {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
    {% endblock %}

    <div class="row-wrapper {{ row_wrapper_2_style }}">
      <div class="row">
        <div class="medium-9 medium-push-3 columns page-content">
          <!--<div class="row">
            <div class="medium-11 medium-push-1 columns">-->
                {% block page_title %}
                    {% if feincms_page %}
                        <h1>{{ feincms_page.content_title }}{% block post_page_title %}{% endblock %}</h1>
                        {% if feincms_page.content_subtitle %}
                            <h2 class="subheader hide-for-medium-down">{{ feincms_page.content_subtitle }}</h2>
                        {% endif %}
                    {% endif %}
                {% endblock %}
              {% block main %}
              {% if feincms_page.content.main %}
                {% for content in feincms_page.content.main %}
                   <div class="block">
                       {% feincms_render_content content request %}
                   </div>
                {% endfor %}
                {% endif %}
              {% endblock %}
            <!--</div>
          </div>-->
        </div>
        <div class="medium-3 medium-pull-9 columns sidebar left-sidebar">
          <!--<div class="row">
            <div class="medium-11 columns">-->
              {% block sidebar %}
                {% block sidebar-pre-nav %}{% endblock %}
                <div class="show-for-medium-up">
                {% block sidebar-nav %}
                <ul class="side-nav block">
                  {% include "partials/menus/section-menu.html" %}
                </ul>
                {% endblock %}
                </div>
                {% block sidebar-post-nav %}{% endblock %}
                {% if feincms_page.content.sidebar %}
                  {% for content in feincms_page.content.sidebar %}
                     <div class="block">
                         {% feincms_render_content content request %}
                     </div>
                  {% endfor %}
                {% endif %}
              {% endblock %}
              <!--</div>
          </div>-->
        </div>
      </div> <!-- end row -->
    </div>

    <div class="row-wrapper {{ row_wrapper_3_style }}">
      <div class="row">
        <div class="medium-12 columns">
          {% block foot %}
          {% if feincms_page.content.foot %}
            {% for content in feincms_page.content.foot %}
               <div class="block">
                   {% feincms_render_content content request %}
               </div>
            {% endfor %}
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div> <!-- end row -->
{% endblock %}
