{% extends "default.html" %}
{% load feincms_tags feincms_page_tags mptt_tags navigation_tags util_tags %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
{% if feincms_page.content.banner %}
<div class="row-wrapper {{ row_wrapper_1_style }}">
  <div class="row">
    <div class="medium-12 columns">
      {% block banner %}
        {% for content in feincms_page.content.banner %}
         <div class="block">
             {% feincms_render_content content request %}
         </div>
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</div>
{% endif %}

<div class="row-wrapper {{ row_wrapper_2_style }}">
  <div class="row">
    {% if feincms_page.content.main %}
    <div class="medium-9 columns page-content">
      <div class="row">
        <div class="medium-11 columns">
          {% block main %}
            {% for content in feincms_page.content.main %}
               <div class="block">
                   {% feincms_render_content content request %}
               </div>
            {% endfor %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="medium-3 columns sidebar right-sidebar">
          {% block sidebar %}
<!--            {% block sidebar-pre-nav %}{% endblock %}
            <div class="show-for-medium-up">
            {% block sidebar-nav %}
            <ul class="side-nav block">
              {% include "partials/menus/section-menu.html" %}
            </ul>
            {% endblock %}
            </div>
-->
            {% block sidebar-post-nav %}{% endblock %}
            {% if feincms_page.content.sidebar %}
              {% for content in feincms_page.content.sidebar %}
                 <div class="block">
                     {% feincms_render_content content request %}
                 </div>
              {% endfor %}
            {% endif %}
          {% endblock %}
          </div>
  </div> <!-- end row -->
</div>

{% if feincms_page.content.foot %}
<div class="row-wrapper {{ row_wrapper_3_style }}">
  <div class="row">
    <div class="medium-12 columns">
      {% block foot %}
        {% for content in feincms_page.content.foot %}
           <div class="block">
               {% feincms_render_content content request %}
           </div>
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</div> <!-- end row -->
{% endif %}
{% endblock %}
