{% extends "default.html" %}
{% load feincms_tags feincms_page_tags mptt_tags navigation_tags %}

{% block content %}
<div class="row-wrapper {{ row_wrapper_1_style }}">
  <div class="row">
    <div class="medium-12 columns">
      {% block banner %}
        {% feincms_nav feincms_page level=2 depth=1 as entries %}
        {% include "partials/menus/generic-submenu.html" with entries=entries %}
        {% if feincms_page.content.banner %}
          {% for content in feincms_page.content.banner %}
           <div class="block">
               {% feincms_render_content content request %}
           </div>
          {% endfor %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>

<div class="row-wrapper {{ row_wrapper_2_style }}">
  <div class="row">
    {% if feincms_page.content.main %}
    <div class="medium-6 columns">
      {% block main %}
        {% for content in feincms_page.content.main %}
           <div class="block">
               {% feincms_render_content content request %}
           </div>
        {% endfor %}
      {% endblock %}
    </div>
    {% endif %}
    {% if feincms_page.content.sidebar %}
    <div class="medium-6 columns">
      {% block sidebar %}
        {% for content in feincms_page.content.sidebar %}
           <div class="block">
               {% feincms_render_content content request %}
           </div>
        {% endfor %}
      {% endblock %}
    </div>
    {% endif %}
  </div> <!-- end row -->
</div>

{% if feincms_page.content.foot %}
<div class="row-wrapper {{ row_wrapper_3_style }}">
  <div class="row">
    <div class="medium-12 columns">
      {% block foot %}
        {% for content in feincms_page.content.foot %}
           <div class="block">
               {% feincms_render_content content request %}
           </div>
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</div> <!-- end row -->
{% endif %}
{% endblock %}
