h2, h3, h4, p {
  padding-top: 0;
  margin-top: 0;
}
ul {
  padding: 0;
}
.map-wrap {
  width: 100%;
  height: 500px;
  position: relative;
}
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.modal-header h4 {
  font-size: 2.5rem;
}
#info-box {
  .modal-header .about {
    display: none;
  }
  .modal-body {
    img {
      width: 100%;
      padding: 5px;
      border: 1px solid #e5e5e5;
    }
    .color-bar {
      width: 100%;
      height: 1rem;
      opacity: 0.6;
      margin-bottom: 10px;
    }
    .name {
      position: relative;
      font-size: 2rem;
    }
    .tel li {
      list-style-type: none;
    }
  }
}
