@page {
	size: letter;
	margin: 60px 20px 30px 40px;

	@top-left {
		padding-top: 20px;
		padding-left: 5px;
		content: string(doctitle);
		font-size: 120%;
    }
}


h1 {
	string-set: doctitle content();
	display: none;
}

h2 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

h1, h2, h3 {
	page-break-after: avoid;
	line-height: 1.2em;
}

#employees {
	font-size: 10px;
	column-width: 30em;
	column-gap: 2em;
	column-rule: 2px solid #cccccc;
	padding: 5px;
	.emp {
		page-break-inside: avoid;
		margin-bottom: 7px;
		.name {
			font-size: 11px;
			font-weight: bold;
		}
	}
	.details div {
		margin-left: 15px;
		text-indent: 20px hanging;
	}
	.location
	{
		padding-left: 20px;
		text-indent: -20px;
	}
	&.qr {
		column-width: 35em;
		column-rule: none;
		font-size: 9px;
		.emp {
			margin-top: 0;
			margin-bottom: 0;
			.phone {
				display: inline-block;
				width: 5em;
			}
			.name {
				display: inline-block;
				width: 30em;
				white-space: nowrap;
				overflow: hidden;
				font-size: 9px;
				margin-left: 0.5em;
				em {
					font-weight: normal;
				}
			}
		}
	}
}

.postscript {
	margin-top: 30px;
	font-size: 11px;
}

/* uncomment for bindable version */

@page {
	margin: 60px 20px 30px 90px;
 }

#employees {
	column-width: 25em;
}

/* end bindable version */
