// @bootstrap-base-path: "../vendor/bootstrap/less";
// @import "lib/variables.less";
// @import "@{bootstrap-base-path}/mixins.less";

// elements
small {
    color: #777;
}

// typography

#map-canvas h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.search-results {
    font-size: 90%;
}

.search-help {
    font-size: 90%;
    line-height: 120%;
    p {
        margin-bottom: 0;
    }
    .button {
        background: transparent;
        color: Black;
        &:after {
            border-top-color: #333 !important;
        }
    }
}

// blocks

.site-actions {
  margin-bottom: 20px;
}

#map-canvas {
    height: 500px;
}

.search-help {
    color: #666;
}

ul.parking-key li {
    padding: 5px 7px;
    em {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border: 1px solid #000;
    }
    &.visitor em {
        background: #FFF;
    }
    &.facstaff em {
        background: #DCD811;
    }
    &.resident em {
        background: #630CC4;
    }
    &.commuter em {
        background: #0B9A77;
    }
}

.search-results {
    position: absolute;
  top: 2.5rem;
  z-index: 1;
  background: White;
  border: 1px solid #ccc;
  opacity: .9;
  width: 95%;
  padding: 0 1rem;
    a {
        padding: 5px 7px;
    }
}

.globalfooter {
    margin-top: 40px;
}
//
// // other
// .actions {
//     img.icon {
//         width: 20px;
//         float: left;
//         margin-right: 5px;
//     }
//     .action-beautify,
//     .action-reset {
//         .glyphicon {
//             font-size: 120%;
//             color: #592C7A;
//         }
//     }
// }
//
// .map-actions span {
//     width: 20px;
//     margin-right: 5px;
// }
//
// .loading {
//     background: url('/static/apps/images/spinner.gif') no-repeat center 0;
// }
// TODO get this working in foundation
// @media (max-width: @screen-sm) {
//      .map {
//         position: relative;
//     }
//     #map-handle {
//         position: absolute;
//         right: 13px;
//         top: 30%;
//         width: 50px;
//         background-color: #FFF;
//         padding: 7px 9px;
//         padding-bottom: 3px;
//         border-radius: 2px;
//         .opacity(0.9);
//         .icon-bar {
//             background-color: #555;
//             border-radius: 1px 1px 1px 1px;
//             display: block;
//             height: 2px;
//             width: 31px;
//             margin-bottom: 5px;
//         }
//     }
// }
