{% extends "grid/bricks_two-col_left-sidebar.html" %}

{% block page_title %}
    <h1>{{ form.title }}</h1>
{% endblock %}

{% block content %}
<div class="row-wrapper {{ row_wrapper_2_style }}">
    <div class="row">
        <div class="medium-9 medium-push-3 columns page-content">
            <div class="row">
                <div class="medium-11 medium-push-1 columns">
                    {% if form.response %}
                    <p>{{ form.response }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="medium-3 medium-pull-9 columns sidebar left-sidebar">
            <div class="row">
                <div class="medium-11 columns">
                    {% block sidebar-nav %}
            <ul class="side-nav block">
              {% include "partials/menus/section-menu.html" with feincms_page=86 %}
            </ul>
            {% endblock %}
                </div>
            </div>
        </div>
    </div> <!-- end row -->
</div>
{% endblock %}