label.render-textile {
    position: absolute;
    top: 3em;
}

iframe {
	width: 610px;
	margin-left: 106px;
	border: 1px solid #ccc;
	resize: both;
	overflow: auto;
}

.textile-frame.working iframe {
    border: 1px solid #D3233A;
}

.textile-frame.working:after {
    content: "working...";
    vertical-align: top;
}
