@mixin icons {
  background-image: url("{{{spritesheet.escaped_image}}}");
  background-repeat: no-repeat;
  background-size: {{spritesheet.px.width}} {{spritesheet.px.height}};
  background-color: transparent; 
  display: inline-block;
  vertical-align: middle;

}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2 / 1),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (min-resolution: 192dpi),
       only screen and (min-resolution: 2dppx) {
  .icons {
    background-image: url("{{{retina_spritesheet.escaped_image}}}");
    background-size: {{spritesheet.px.width}} {{spritesheet.px.height}};
    background-size: rem({{spritesheet.px.width}}) rem({{spritesheet.px.height}});
  }
}

{{#items}}
@mixin {{name}} {
  @include icons;
  background-position: {{px.offset_x}} {{px.offset_y}};
  width: {{px.width}};
  width: rem({{width}});
  height: {{px.height}};
  height: rem({{px.height}});
}

.{{name}} {
  @include {{name}};
}
{{/items}}


