{% load i18n %}
{% load crispy_forms_tags %}

<div id="form{{ form.form.slug }}">

  {% if form.form.intro %}
    {{ form.form.intro|safe }}
  {% endif %}

  <form method="post" action="#form{{ content.id }}" novalidate
    {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
    <input type="hidden" name="_formcontent" value="{{ content.id }}">
    {# <fieldset class="inlineLabels"> #}
      {{ form|crispy }}
    </fieldset>

    <div class="buttonHolder">
      <input type="submit" class="button primary" value="{{ form.form.button_text }}">
    </div>
  </form>

</div>
