<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <!-- Mobile viewport optimized: h5bp.com/viewport -->
        <meta name="viewport" content="width=device-width" />

        <!-- Shims: IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script async src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Styles -->
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="large-12 columns">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>
