{% load applicationcontent_tags %}
<ul>
{% for issue in issues %}
    <li><a href="{% app_reverse 'magazine_detail' 'magazine.urls' issue.slug %}">
        {{ issue.issue_string }}{% if not issue.active %} <span class="label">inactive</span>{% endif %}
    </a></li>
{% endfor %}
</ul>
