{% load applicationcontent_tags markup_tags %}
<h3>
{% if story %}
    <a href="{% app_reverse 'magazine_detail' 'magazine.urls' slug=story.issue.slug %}">{{ story.issue.issue_string }}</a>
{% elif magazine %}
    <a href="{% app_reverse 'magazine_detail' 'magazine.urls' slug=magazine.slug %}">{{ magazine.issue_string }}</a>
{% endif %}
</h3>
{% if stories %}
    {% include 'magazine/partials/story_list.html' with stories=stories %}
{% endif %}
{% if magazine_issues %}
    <h3>Issues</h3>
    {% include 'magazine/partials/issue_list.html' with issues=magazine_issues %}
    {% if more_issues %}
        <p>more</p>
    {% endif %}
{% endif %}
