{% load applicationcontent_tags %}
<ul class="side-nav block">
    {% for story in stories %}
        <li class="{{ story.story_type }}"><a href="{% app_reverse 'magazine_story_detail' 'magazine.urls' slug=issue.slug pk=story.pk story_slug=story.story.slug %}">{{ story.story.title }}</a></li>
    {% endfor %}
</ul>
