{% load feincms_tags i18n admin_urls content_tags %}
<article class="hentry{% if forloop.first %} first{% endif %}">
    <header>
        <p class="entry-title">
            {% check_category_of_entry entry 'modal-item' as is_modal %}
            {% if is_modal %}
            <a href="#" data-reveal-id="myModal{{ entry.id }}">{{ entry }}</a>
            <div id="myModal{{ entry.id }}" class="reveal-modal" data-reveal>
                <h2>{{ entry }}</h2>
                <div class="entry-content">
                    {% feincms_render_region entry "main" request %}
                </div>
              <a class="close-reveal-modal">&#215;</a>
            </div>
            {% else %}
            <a href="{{ entry.get_absolute_url }}" rel="bookmark">{{ entry }}</a>
            {% endif %}

            {% if user.is_authenticated %}<small> | <a href="{% url 'admin:elephantblog_entry_change' entry.id %}">Edit this item</a></small>{% endif %}
            {% comment %}<br><time datetime="{{ entry.published_on|date:'c' }}" pubdate>{{ entry.published_on|date:"SHORT_DATE_FORMAT" }}</time>{% endcomment %}
        </p>
        {% comment %}
        {% if entry.fetched_categories %}
        |
        {% for category in entry.fetched_categories %}
            <a href="{{ category.get_absolute_url }}" rel="tag">{{ category }}</a>{% if not forloop.last %},{% else %} | {% endif %}
        {% endfor %}
        {% endif %}
        {% if not hide_byline %}
        <span class="byline small">
            {% if entry.author.get_full_name %}
            <span class="author source-org vcard">
                <time datetime="{{ entry.published_on|date:'c' }}" pubdate>{{ entry.published_on|date:"SHORT_DATE_FORMAT" }}</time>
                {% trans 'by' %} <span class="fn">{{ entry.author.get_full_name }}</span>
            </span>
            {% endif %}
            {% if entry.fetched_categories %}
            |
            {% for category in entry.fetched_categories %}
                <a href="{{ category.get_absolute_url }}" rel="tag">{{ category }}</a>{% if not forloop.last %},{% else %} | {% endif %}
            {% endfor %}
            {% endif %}
        </span>
        {% endif %}
        {% endcomment %}
    </header>
    {% if not hide_summary %}
    <div class="entry-summary">
        {% comment %}{% if entry.first_image %}{{ entry.first_image.render }}{% endif %}{% endcomment %}
        {% if entry.first_richtext %}
            {{ entry.first_richtext.render|truncatewords_html:25 }}
        {% endif %}
    </div>
    {% endif %}
</article>
