{% if not hide_main_title %}
<h3 class="profile-title">{{ profile.title }}</h3>
{% endif %}
{% if profile.content_title %}
<p class="profile-sub">{{ profile.content_title }}</p>
{% endif %}
{% if profile.content_subtitle %}
<p class="profile-sub">{{ profile.content_subtitle }}</p>
{% endif %}
