<ul class="academics-selector-stacked">
	<li class="ug selector">
		<div class="title"><a href="http://www.shc.edu/ug/academics"><em>Incoming Freshmen</em></a></div>
		<p class="first">For recent, or soon-to-be, high school grads looking for an outstanding liberal arts education within a vibrant campus community.</p>
	</li>
	<li class="grad selector">
		<div class="title"><a href="http://www.shc.edu/grad/academics"><em>Graduate</em></a></div>
		<p>For those interested in earning advanced degrees that will move you forward in your career and allow you to grow as a leader.</p>
	</li>
	<li class="cs selector">
		<div class="title"><a href="http://www.shc.edu/cs/academics"><em>Continuing Studies</em></a></div>
		<p>For adults of all ages, experience levels, and backgrounds who want to complete their undergraduate degree or start their college education. This also includes veterans, active duty military, and reservists.</p>
	</li>
</ul>