<h3>Get Admitted</h3>
<ul class="admission-selector-stacked">
	<li class="ug selector">
		<div class="title"><a href="http://www.shc.edu/page/undergraduate-admissions"><em>Incoming Freshmen</em></a></div>
		<p class="first">For recent, or soon-to-be, high school grads looking for an outstanding liberal arts education within a vibrant campus community.</p>
	</li>
	<li class="transfer selector">
		<div class="title"><a href="http://www.shc.edu/ug/admissions/transfer"><em>Transfer Students</em></a></div>
		<p>Transfer to Spring Hill and experience the Jesuit advantage. Our small class sizes and personalized instruction provide a solid foundation for career success.</p>
	</li>
	<li class="intl selector">
		<div class="title"><a href="http://www.shc.edu/page/admission-process-international-students"><em>International Students</em></a></div>
		<p>For students from around the world who desire an exemplary education in a close-knit community that values academics, inquiry, and diversity.</p>
	</li>
</ul>