{% load content_tags %}

{% get_active_job_postings_by_type 'fac' as fac_jobs %}
{% get_active_job_postings_by_type 'sta' as sta_jobs %}

<ul class="inline-list">
{% if fac_jobs %}
	<li><a href="#faculty">Faculty Positions</a></li>
{% endif %}
{% if sta_jobs %}
	<li><a href="#staff">Staff Positions</a></li>
{% endif %}
</ul>

{% if fac_jobs %}
	<h2 id="faculty">Faculty Positions</h2>
	{% for job in fac_jobs %}
		{% include 'partials/job.html' %}
		<hr>
	{% endfor %}
{% endif %}

{% if sta_jobs %}
	<h2 id="staff">Staff Positions</h2>
	{% for job in sta_jobs %}
		{% include 'partials/job.html' %}
		<hr>
	{% endfor %}
{% endif %}