{% load feincms_thumbnail util_tags %}

{% if content.region in "sidebar" %}
  <img
    src="{{ content.mediafile.file|thumbnail:"500x500" }}"
    alt="{{ content.mediafile.translation.caption }}" />
{% else %}
<div class="image-wrapper {{ content.type }}{% if content.mediafile.copyright %} copyright{% endif %}{% if content.mediafile.translation.caption %} caption{% endif %}">
  <img
    src="{{ content.mediafile.file|thumbnail:"700x600" }}"
    class="image {{ content.type }}"
    alt="{{ content.mediafile.translation.caption }}" />
    {% if content.mediafile.copyright %}
    <div class="copyright">{{ content.mediafile.copyright }}</div>
    {% endif %}
    {% if content.mediafile.translation.caption %}
    <div class="caption">{{ content.mediafile.translation.caption }}</div>
    {% endif %}
</div>
{% endif %}
