<div class="media-file-list">
	<div class="inner">
		<a class="file-{{ content.mediafile.type }}" href="{{ content.mediafile.file.url }}">
			<span class="has-icon {{ content.mediafile.type }}"></span>
			<span>{{ content.mediafile.translation.caption|default:content.mediafile.file.name }}</span>
			<small>[{{ content.mediafile.file_size|filesizeformat }}]</small>
		</a>
	</div>
</div>