<script type="text/javascript" src="{{ STATIC_URL }}theme/scripts/admin/inline.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}theme/scripts/admin/textile.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}theme/styles/admin/inline.css">
<link rel="stylesheet" href="{{ STATIC_URL }}theme/styles/admin/textile.css">
