{% load thumbor_tags %}
{% if items %}
<h2>Downloads for {{ category }}</h2>
<ul class="media-file-list">
	{% for item in items %}
		<li><a class="{{ item.type }}" href="{{ item.file.url }}"><span class="has-icon {{ content.mediafile.type }}"></span> {{ item }} <small>[{{ item.file_size|filesizeformat }}]</small></a></li>
	{% endfor %}
</ul>
{% endif %}
{% include "partials/media/get_pdf_reader.html" %}