{% if items %}
<ul class="medium-block-grid-2 large-block-grid-3 media-file-list">
	{% for item in items %}
		<li>
		<div class="inner">
			<a class="{{ item.type }}" href="{{ item.file.url }}">
				<span class="has-icon {{ item.type }}"></span>
				<span>{{ item }}</span>
				<small>[{{ item.file_size|filesizeformat }}]</small>
			</a>
		</div>
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No items found for {{ category }}</p>
{% endif %}
{% include "partials/media/get_pdf_reader.html" %}
