@mixin std-transition($dur:0.2s) {
  @include transition (all $dur ease-in-out);
}

// @mixin auto-gradient($color, $tint_factor:10%) {
// 	$tint: lighten($color,$tint_factor);
// 	@include linear-gradient($tint, $color);
// }

@mixin top-shade-gradient($start-op:0.65,$mask-stop:50%) {
  background: -moz-linear-gradient(top,  rgba(0,0,0,$start-op) 0%, rgba(0,0,0,0) $mask-stop, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,$start-op)), color-stop($mask-stop,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,$start-op) 0%,rgba(0,0,0,0) $mask-stop,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,$start-op) 0%,rgba(0,0,0,0) $mask-stop,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,$start-op) 0%,rgba(0,0,0,0) $mask-stop,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,$start-op) 0%,rgba(0,0,0,0) $mask-stop,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

@mixin menu-hover($color:#333, $drop:2px) {
  position: relative;
  top: 0;
  &:link, &:hover {
    @include std-transition;
  }
  &:hover {
    @include raised-box($color, $drop)
  }
}

@mixin raised-box($color:#333, $drop:2px) {
  position: relative;
  top: $drop;
  box-shadow: 0 5px 6px -4px $color;
}

@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}

@mixin opacity($opacity) {
     opacity: $opacity;
     $opacityIE: $opacity * 100;
     filter: alpha(opacity=$opacityIE);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -khtml-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}


@mixin scale($prop_x, $prop_y) {
      -webkit-transform: scale($prop_x, $prop_y);
    -moz-transform: scale($prop_x, $prop_y);
    -o-transform: scale($prop_x, $prop_y);
    -ms-transform: scale($prop_x, $prop_y);
    transform: scale($prop_x, $prop_y);
}


@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    -ms-transition: $property;
    transition: $property;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin button-light() {
  background-color: $white;
  border: 1px solid $gray-dark;
  color: $gray-darker;
  &:hover {
    color: $black;
    background-color: $gray;
  }
}

@mixin button-dark() {
  background-color: $base-color;
  border: 1px solid $gray-dark;
  color: $white;
  &:hover {
    background-color: $gray-dark;
  }
}
