.show-for-small-only,
.show-for-medium-up,
.show-for-medium-only,
.show-for-large-up,
.show-for-large-only,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up {
    display: block !important;
    &:before {
      margin-right: 0.5rem;
      padding: 1px 2px;
      font-size: 0.8rem;
      border: 1px solid #ccc;
      background: lightblue;
  }
}

.show-for-small-only:before {
    content: "v:so";
}
.show-for-medium-up:before {
    content: "v:mup";
}
.show-for-medium-only:before {
    content: "v:mo";
}
.show-for-large-up:before {
    content: "v:lup";
}
.show-for-large-only:before {
    content: "v:lo";
}
.show-for-xlarge-up:before {
    content: "v:xlup";
}
.show-for-xlarge-only:before {
    content: "v:xlo";
}
.show-for-xxlarge-up:before {
    content: "v:xxlup";
}
