@import 'settings';
@import 'foundation/components/global';

@media only screen and (min-width: 820px) {
  ul.social-menu {
    > li {
      margin-left: 1rem;
    }
    a {
      font-size: 4rem;
    }
  }
  .globalfooter .purpleup {
    top: 8px;
  }
}

@media only screen and (max-width: 500px) {
  .wrap-home-banner {
    .content .desc {
      display: none;
    }
  }
}

@media #{$small-only} {
  .slick-prev,
  .slick-next {
    width: 22px;
    &:before {
      font-size: 60px;
    }
  }
  .slick-prev,
  .slick-prev:hover,
  .slick-next,
  .slick-next:hover {
    top: 25%;
  }
  .slick-dots li button:before {
    font-size: 13px;
  }
}

@media #{$small-up} {
  .mobile-nav {
    display: block !important;
  }
  .wrap-map-main {
    height: 300px;
  }
  .wrap-home-banner {
    .slick-prev,
    .slick-next {
      width: 100px;
      height: 150px;
      &:before {
        font-size: 100px;
      }
    }
  }
}

@media #{$medium-up} {
  .wrap-about-content,
  .wrap-future .title {
    text-align: center;
  }
  .wrap-about-content {
    text-align: left;
  }
  .wrap-actions-content .info,
  .wrap-future .icon {
    text-align: center;
  }
  .main-nav .has-dropdown>a,
  .top-bar-section .has-dropdown>a {
    padding-right: 1.9rem !important;
    margin-right: 1.0rem;
  }
  .wrap-home-banner {
    .slick-prev,
    .slick-prev:hover,
    .slick-next,
    .slick-next:hover {
      top: 30%;
    }
  }

  .wrap-home-content,
  .wrap-about-content,
  .wrap-future,
  .wrap-actions-content {
    .title {
      font-size: rem_calc(48px);
      line-height: 48px;
    }
  }
  ul.social-menu {
    > li {
      margin-left: 1.374rem;
    }
  }
  .wrap-video-mod {
    margin-bottom: 0;
    padding: 20px 0;
    .title {
        margin-top: 0.2rem;
    }
    .button.secondary {
        margin-top: 3rem;
    }
    .buffer {
        padding-left: 30px;
    }
  }
}

@media #{$large-up} {
  .wrap-home-banner,
  .wrap-home-content,
  .wrap-future,
  .wrap-actions-content,
  .wrap-about-content {
    .item, .icon, .info {
      text-align: center;
    }
  }
  .wrap-map-main {
    height: 400px;
  }
  .wrap-home-banner {
    background: $gray;
    color: White;
    .title {
      font-size: rem_calc(30px);
      line-height: rem_calc(34px);
      color: White;
    }
    .slick-prev,
    .slick-next {
      height: 170px;
      &:before {
        font-size: 150px;
      }
    }
    .banner-info .content {
      position: absolute;
      background: rgba(0, 0, 0, .7);
      bottom: 0;
      left: 0;
      width: 100%;
      color: $gray;
      &.linked:hover {
        background: rgba(0, 0, 0, .6);
      }
      .banner-action {
        color: $gray;
      }
    }
    .content .desc {
      display: block;
    }
  }
  .wrap-future {
    .button.expand {
        margin: 0 0 1.25rem;
    }
  }
  .globalfooter .purpleup {
    position: relative;
    top: 16px;
  }
  .wrap-home-banner .banner-img {
    overflow: hidden;
  }
}
@media #{$xlarge-up} {
  .wrap-home-banner {
    .slick-prev,
    .slick-next {
      &:before {
        font-size: 200px;
      }
    }
    .slick-prev,
    .slick-prev:hover,
    .slick-next,
    .slick-next:hover {
      top: 40%;
    }
    .slick-prev,
    .slick-prev:hover {
      left: 5px;
    }
    .slick-next,
    .slick-next:hover {
      right: 5px;
    }
  }
}
