<div class="admissions-links col-sm-12">
    <a href="//www.shc.edu/applynow"><div class="apply">
      <div class="content"><p>Apply<br>Now</p></div>
    </div></a>
    <a href="//www.shc.edu/visit"><div class="visit">
      <div class="content"><p>Visit</p></div>
    </div></a>
    <a href="//www.shc.edu/italy"><div class="italy">
      <div class="content"><p>Italy Center</p></div>
    </div></a>
    <a href="//www.shc.edu/academics/majors-and-minors/ug"><div class="programs">
      <div class="content"><p>Majors</p></div>
    </div></a>
</div>