<div class="colophon">
    <p><small>Built with 
    <a href="http://docpad.org" target="_blank">DocPad</a>, 
    <a href="http://angularjs.org/" target="_blank">AngularJS</a>, 
    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.
    Made friendly with
    <a href="http://gruntjs.com/" target="_blank">Grunt</a>.
    </small></p>
</div>