<div class="debug">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">SHC Sandbox - Application Test Bed</h3>
		</div>
		<div class="panel-body">
			<p>This application is in beta and under active development. There is no guarantee that things will work as expected.</p>
			<ul class="nav nav-pills">
				<li><a href="/">Back to the sandbox</a></li>
				<li><a href="https://docs.google.com/a/shc.edu/forms/d/1f69MMGMO30sRc4lv47oSKe0-1C1jYGNUn7sAPyEsvkk/viewform">Report a problem</a></li>
				<li><a href="https://bitbucket.org/springhillcollege/shc-docpad-apps/issues">Please check open issues here before reporting!</a></li>
			</ul>
		</div>
	</div>
</div>
