<p class="emp">
	<span class="phone">{% if emp.phone.3 %}{{ emp.phone.3 }}{% else %}n/a{% endif %}</span>
	<span class="name">{{ emp.last }}, {{ emp.first }} - <em>{{ emp.department.name }}</em></span>
</p>
