<div class="emp">
	<div class="name">{{ emp.natural_name }}</div>
	<div class="details">
		<div class="pos">{{ emp.position }}</div>
		<div class="contact">
			{% if emp.phone.0 %} {{ emp.phone.0 }} | {% endif %}
			{% if emp.email %} {{ emp.email }}{% endif %}
		</div>
		<div class="location">
			{% if emp.office_location %}
				{{ emp.office_location|safe }}
			{% endif %}
		</div>
	</div>
</div>
