<nav aria-label="breadcrumbs">
	<ul class="breadcrumbs">
		<li><a href="/">Home</a></li>
		{% for url, title in trail %}
		<li {% if forloop.last %}class="current"{% endif %}><a href="{{ url|default:'' }}">{{ title }}</a></li>
		{% endfor %}
	</ul>
</nav>