{% extends "base.html" %}
{% load feincms_tags feincms_page_tags navigation_tags elephantblog_tags %}
{% block body %}
    {% if 'page' in perms %}
        {% include "partials/menus/admin-menu.html" %}
    {% endif %}
    <div class="main-page">
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <div class="wrap-content main-body">

                    <aside class="left-off-canvas-menu">
                        <div data-interchange="[/render_template/{{ feincms_page.id }}/interchange/main_nav/off-canvas-menu.html, (small-only)]">
                            <!-- no default content -->
                        </div>
                    </aside>

                    {% block global_header %}
                    <!-- main header here -->
                    {% include "partials/globalheader.html" %} {% endblock %}
                    {% elephantblog_entries limit=1 category=9 as emergency %}
                    {% if emergency %}
                    <div class="emergency-notice-block">
                        <div class="row">
                            <div class="medium-12 columns">
                                <h2 class="has-icon emergency emergency-title">{{ emergency.0 }}</h2>
                                <div class="emergency-notice">
                                    {% feincms_render_region emergency.0 "main" request %}
                                    <hr>
                                    <p class="last_update">
                                        Last updated: {{ emergency.0.modification_date }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Off Canvas Menu -->
                    {% is_root feincms_page as is_root %}
                    <!-- breadcrumbs here -->
                    {% if not is_root %}
                    <div class="wrap-breadcrumbs row">
                        <p class="show-for-sr">You are here:</p>
                        {% feincms_breadcrumbs feincms_page %}
                    </div>
                    {% endif %}
                    <div id="main-content">
                        {% block content_wrapper %}
                        <!-- main content here -->
                        <div class="content row">
                            <div class="medium-12 columns">
                                {% block alerts %} {% endblock %}

                                {% block content %} {% endblock %}
                            </div>
                        </div>
                        {% endblock %}
                    </div>
                </div>
                <!-- footer here -->
                <div class="globalfooter">
                    {% include "partials/globalfooter.html" %}
                </div>
                <!-- close the off-canvas menu -->
                <a class="exit-off-canvas"><span class="show-for-sr">Close menu</span></a>
                <!-- return to top -->
                <span class="label radius floating-return"></span>
            </div>
            <!-- /inner-wrap -->
        </div>
    </div>
{% endblock %}
