{% extends "default.html" %}
{% load feincms_page_tags content_tags util_tags blog_widgets feincms_thumbnail %}


{% block page_title %}{% endblock %}

{% block global_header %}
	<!-- main header here -->
	{% feincms_nav feincms_page level=1 depth=1 as links %}
	{% include "partials/globalheader.html" with sublinks=links show_on_sticky=True %}
	<!-- Markup for Google Site Links search box -->
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"url": "http://www.shc.edu/",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "https://www.shc.edu/search?q={search_term_string}",
			"query-input": "required name=search_term_string"
		}
	}
	</script>
{% endblock %}

{% block subheader %}
{% endblock %}

{% block content_wrapper %}
	<h1 class="show-for-sr">Spring Hill College Homepage</h1>
	<div class="wrap-home-banner">
		{% get_home_features "home_banners" 7 as banner_features %}
		{% for banner in banner_features %}
			<div class="banner">
				<div class="banner-img">
					<img src="{{ MEDIA_URL }}{{ banner.image }}" width="1200" height="450" alt="homepage banner">
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<div class="banner-info">
							{% if banner.url %}
							<div class="content linked">
								<a href="{{ banner.url }}">
									<h2 class="title">{{ banner.title|safe }}</h2>
									<div class="desc">
										{{ banner.get_rendered_content|safe }}
										<span class="banner-action">LEARN MORE</span>
									</div>
								</a>
							</div>
							{% else %}
								<div class="content">
									<h2 class="title">{{ banner.title|safe }}</h2>
									<div class="desc">
										{{ banner.get_rendered_content|safe }}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{% with video_url='/admissions/visit' %}
	<div class="wrap-video-mod">
	  <div class="row video-mod">
	    <div class="medium-6 columns">
	      <a href="#" data-reveal-id="videoModal">
	        <div class="video-container">
	          <img src="/static/theme/images/WhatHasSHCGivenMePlayButton_Visit.jpg"/>
	        </div>
	      </a>
	    </div>
	    <div class="medium-6 columns">
	      <div class="buffer">
	        <h2 class="title">Visit The Hill</h2>
	        <a href="{{ video_url }}" class="button large secondary">Schedule a Campus Visit Now</a>
	      </div>
	    </div>
	  </div>
	  <div id="videoModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	    <h2 id="modalTitle">Why choose Spring Hill College?</h2>
	    <div class="flex-video">
	      <iframe width="560" height="315" src="https://www.youtube.com/embed/bP-ML4L5cb8" frameborder="0" allowfullscreen></iframe>
	    </div>
			<div class="row">
				<div class="small-6 small-centered columns">
					<a href="{{ video_url }}" class="button large expand">See You on The Hill</a>
				</div>
			</div>
	    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	  </div>
	</div>
	{% endwith %}

	{% get_home_features "home_aud" 3 as features %}
	{% if features %}
	<div class="wrap-future">
		<div class="row">
			<div class="small-12 columns">
				<h2 class="title">I <span>am</span> a Future...</h2>
			</div>
		</div>
		<div class="row">
			{% for feature in features %}
			<div class="large-4 columns item">
				<a class="button expand large" href="{{ feature.url }}">{{ feature.title }}</a>
				<div class="description">
					{{ feature.get_rendered_content|safe }}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% get_home_features "home_feat" 3 as features %}
	{% if features %}
	<div class="wrap-home-content">
		<div class="row">
			<div class="small-12 columns">
				<h2 class="title hide-for-large-up">Get to Know Spring Hill</h2>
			</div>
		</div>
		<div class="row">
			{% for feature in features %}
				<div class="large-4 columns item">
					<div class="row">
						{% if feature.image %}
						<div class="small-4 large-12 hide-for-small columns">
							<div class="wrap-img">
								<img src="{{ MEDIA_URL }}{{ feature.image }}" alt="" width="{{ feature.image.width }}" height="{{ feature.image.height }}">
							</div>
						</div>
						{% endif %}
						<div class="small-12 medium-8 large-12 columns info">
							<a class="button expand large" href="{{ feature.url }}">{{ feature.title }}</a>
							<div class="description">{{ feature.get_rendered_content|safe }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div class="wrap-quotes clearfix">
		<div class="medium-12 columns">
			<div class="row">
				<div class="quotes"></div>
			</div>
		</div>
	</div>

	{% get_page_by_id 1196 as profile_page %}
	{% if profile_page %}
		{% get_profiles_for_frontpage True as profiles %}
		{% if profiles %}
		<div class="wrap-home-content">
			<div class="row">
				<div class="medium-12 columns">
					<h2 class="title">Transfer Spotlight</h2>
				</div>
			</div>
			<div class="row">
				{% for profile in profiles %}
					<div class="medium-12 large-6 columns">
						<div class="panel profile-panel">
							<div class="row">
								<div class="profile">
									<a href="{{ profile_page.get_absolute_url }}?id={{ profile.id }}&modal=1">
											<div class="medium-6 small-12 columns">
												<img class="lead-img" src="{{ profile.image.get_absolute_url|thumbnail:"400x400" }}" />
											</div>
											<div class="medium-6 small-12 columns">
												{% include 'profiles/partials/profile_titles.html' %}
												<hr>
												<p class="blurb">{{ profile.blurb }}</p>
												<span class="more-link">More</span>
											</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row text-center">
				<a class="button large" href="{{ profile_page.get_absolute_url }}">View all profiles</a>
			</div>
		</div>
		{% endif %}
	{% endif %}

	<div class="wrap-about-main">
		<div class="wrap-about-content clearfix">
			<div class="medium-12 columns">
				<div class="row">
					<div class="medium-6 columns">
						<div class="panel">
							<h2>Spring Hill Magazine<br>
								<small>Winter 2017</small></h2>
							<p class="description">
								Foley Center 25th Anniversary, Business Division Updates, A Jesuit's Jubilee, Career Development, Alia Nardini, PhD, and 
								<a href="/magazine" class="more-link">more</a>
							</p>
							<p><a class="button large" href="/magazine">Read the latest issue now</a></p>
						</div>
					</div>
					<div class="medium-6 columns newsfeed">
						<h2 class="title">News and Events</h2>
						<!-- awkwardly named 'get_frontpage' grabs most recent news items -->
						{% get_frontpage %}
						{% for entry in entries|slice0to:4 %}
						    {% include 'elephantblog/entry_list_item.html' with hide_byline=True hide_summary=True %}
						{% endfor %}
						<p class="more">
							<a href="/news" class="more-link">View more news items</a>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="medium-12 columns about-us">
					<h2 class="title">About Spring Hill College</h2>
					<div class="sub-title">Forming leaders engaged in learning, faith, justice and service for life</div>
					<div class="description">
						Spring Hill College offers an exceptional educational experience that prepares each graduate for success in both career and life.  Located on the beautiful Gulf Coast, and deeply rooted in the Jesuit, Catholic educational tradition that develops leadership potential, students are encouraged to develop critical thinking skills, explore opinions and beliefs different than their own, and understand how they can fulfill their potential and best serve the world.
					</div>
					<p>
						<a href="/about" class="button large">All about Spring Hill</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="wrap-map-main">
		<div class="wrap-map-content">
		</div>
	</div>

{% endblock %}
