{% load feincms_page_tags content_tags navigation_tags %}
<div class="mobile-nav">
    <nav class="tab-bar" aria-label="Mobile device menu">
      <div class="left-small">
        <h2 class="show-for-sr">Mobile Navigation</h2>
        <a class="left-off-canvas-toggle menu-icon" href="#"><span class="show-for-sr">Open the navigation menu</span>
        <!-- need this empty span for the hamburger -->
        <span></span></a>
      </div>
      <div class="middle tab-bar-section">
          <h2 class="show-for-sr">Branding SHC Logo</h2>
          <div class="logo"><a href="/">SHC Logo</a></div>
      </div>
    </nav>
</div>
