{% load feincms_page_tags content_tags navigation_tags %}
<div class="desktop-nav">
  <div class="services-wrapper">
    <div class="row services full-width">
      <div class="medium-7 large-6 columns">
        <ul class="secondary-links inline-list left">
          {% feincms_nav feincms_page level=1 depth=2 group='meta' as entries %}
          {% include 'partials/menus/generic-menu.html' with entries=entries %}
        </ul>
      </div>
      <div class="medium-5 large-6 columns">
        <div class="search">
          {% include "partials/common/searchbox.html" with id="q-main-desktop" %}
        </div>
      </div>
    </div>
  </div>
  <div class="branding-wrapper">
    <div class="row branding">
      <div class="logo"><a href="/">SHC Logo</a></div>
    </div>
  </div>
  <div class="main-nav-wrapper">
    <div class="row main-nav">
    <nav class="top-bar" data-topbar aria-label="Desktop menu" id="desktop-menu">
      {% feincms_nav feincms_page level=1 depth=1 group='default' as entries %}
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
            {% for entry in entries %}
                {% sub_entries entry as subs %}
                {% if entry.tree_id %}
                    {% page_is_active entry as is_active %}
                {% endif %}
                {% if subs %}
                    <li class="has-dropdown{% if is_active %} active{% endif %}">
                        <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                        <div class="dropdown">
                            <ul>
                              <!--<li class=""><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>-->
                              {% for sub in subs %}
                                {% page_is_active sub as sub_is_active %}
                                  <li class="{% if sub_is_active %} active{% endif %}"><a href="{{ sub.get_absolute_url }}">{{ sub.title }}</a></li>
                              {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        </nav>
    </div>
  </div>
  {% show_submenu_on_page feincms_page as show_sub %}
    <div class="sticky section-nav contain-to-grid">
    <nav class="top-bar show-only-on-fixed" data-topbar data-options="scrolltop:false; sticky_on:large">
      <ul class="title-area">
        <li class="name">
          <div class="logo"><a href="/">SHC Logo</a></div>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

        {% block subheader %}
        {% if show_sub %}
          {% feincms_nav feincms_page level=2 depth=1 as links %}
        {% else %}
          {% feincms_nav feincms_page level=1 depth=1 group='default' as links %}
        {% endif %}
        {% include 'partials/menus/generic-submenu.html' with entries=links %}

        {% feincms_nav feincms_page level=1 depth=2 group='meta' as entries %}
        {% include 'partials/menus/generic-submenu.html' with entries=entries classes="actions-menu" %}

        {% endblock %}
    </nav>
  </div>
</div>
