{% load feincms_page_tags content_tags navigation_tags %}

{% for entry in entries %}
{% sub_entries entry as subs %}
{% if entry.tree_id %}
    {% page_is_active entry as is_active %}
{% endif %}
{% if subs %}
    <li class="has-submenu{% if is_active %} active{% endif %}"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
        <ul class="left-submenu">
            <li class="back"><a href="#">Back</a></li>
            {% comment %}
                Multi-level menu overrides clinks on links with subitems to open the submenu, making them inaccessible.
                For now, just add a link to the top-level item at the top of its submenu.
            {% endcomment %}
            <li class="{% if is_active %}active{% endif %}"><a href="{{ entry.get_absolute_url }}">{{ entry.title }} Home</a></li>
            {% include "interchange/main_nav/menu-item.html" with entries=subs %}
        </ul>
    </li>
{% else %}
    <li class="{% if is_active %}active{% endif %}"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
{% endif %}
{% endfor %}