{% load feincms_page_tags navigation_tags %}

<ul class="off-canvas-list">
    <li class="has-form">
      {% include "partials/common/searchbox.html" with id="q-main-offcanvas" %}
    </li>
</ul>

<nav id="off-canvas-menu">
    {% feincms_nav feincms_page level=1 depth=1 group='default' as entries %}
	<ul class="off-canvas-list">
	    <li><label>Spring Hill College</label></li>
	    {% include "interchange/main_nav/menu-item.html" with entries=entries %}
	</ul>
    {% feincms_nav feincms_page level=1 depth=2 group='meta' as entries %}
    <ul class="off-canvas-list">
        <li><label>&nbsp;</label></li>
	    {% include "interchange/main_nav/menu-item.html" with entries=entries %}
	</ul>
</nav>
