{% load feincms_tags %}
{% if items.0 %}
{% for content in items.0 %}
	{% cycle '<div class="row subcontent">' '' %}
		<div class="medium-6 columns">{% feincms_render_content content request %}</div>
	{% cycle '' '</div>' %}
{% endfor %}
{% endif %}
{% if items.1 %}
	<div class="row subcontent">
		<div class="medium-12 columns">
	         {% feincms_render_content items.1 request %}
	     </div>
     </div>
{% endif %}