<form action="/search" method="GET" class="{{not_found}}">
    <div class="row collapse search">
        <div class="large-10 small-9 columns">
        	<label for="{% if id %}{{ id }}{% else %}q-body{% endif %}" class="show-for-sr">Search this site</label>
            <input type="text" placeholder="Find Stuff" name="q" id="{% if id %}{{ id }}{% else %}q-body{% endif %}">
        </div>
        <div class="large-2 small-3 columns">
            <button type="submit" class="search-button postfix has-icon search"><span class="show-for-sr">Search this site</span></button>
            <a class="button postfix show-search-button has-icon search"></span></a>
        </div>
    </div>
</form>
