<div class="admin admin-links">
	<a href="#" data-dropdown="drop-admin" data-options="align:top" class="button small success">Admin &raquo;</a><br>
	<ul id="drop-admin" data-dropdown-content class="f-dropdown">
		<li><a href="/admin/logout/">Logout</a></li>
		<li><a href="/admin/">Site Admin</a></li>
		<li><a href="{% url 'admin:page_page_changelist' %}">Pages Admin</a></li>
		<li><a href="{% url 'admin:elephantblog_entry_changelist' %}">News Admin</a></li>
		<li><a href="{% url 'admin:page_page_change' feincms_page.pk %}">Edit this Page</a></li>
	</ul>
</div>
