{% load feincms_page_tags %}
<dl class="sub-nav{% if classes %} {{ classes }}{% endif %}">
{% if ancestor %}
	<dt><a href="{{ ancestor.get_absolute_url }}">{{ ancestor }}</a>:</dt>
{% else %}
	<dt class="hidden">Submenu</dt>
{% endif %}
{% for entry in entries %}
	{% if entry.tree_id %}
	{% page_is_active entry as is_active %}
  	{% endif %}
  	<dd class="{% if is_active %}active{% endif %}{% if entry.classes %} {{ entry.classes }}{% endif %}"><a class="{% if entry.is_external %}new-window{% endif %}" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></dd>
{% endfor %}
</dl>
