{% load feincms_page_tags navigation_tags %}
{% for entry in entries %}
	{% if entry.tree_id %}
  	{% page_is_active entry as is_active %}
  	{% endif %}
  	{% if is_mobile and entry.hideOnMobile %}
  	{% else %}
	<li class="{% if is_active or entry.fake_active %}active{% endif %}">
	    <a class="{% if entry.is_external %}new-window{% endif %}" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
	</li>
	{% endif %}
	{% if show_kids and is_active %}
		{% feincms_nav feincms_page level=2 depth=1 as entries %}
		{% for entry in entries %}
			{% page_is_active entry as is_active %}
			<li class="sub{% if is_active %} active{% endif %}"><a class="{% if entry.is_external %}new-window{% endif %}" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></li>
		{% endfor %}
	{% endif %}
{% endfor %}

