<div data-magellan-expedition>
  <nav role="navigation">
    <!-- binding point for hb template partials/menus/jumplinks.handlebars -->
    <div class="do-jumplinks {{ layout }} {{ style }}" data-category="{{ cat }}"></div>
  </nav>
</div>
