{% load navigation_tags %}
{% section_links feincms_page as entries %}
<li class="strong"><a href="{{ entries.root.get_absolute_url }}">{{ entries.root.title }}</a></li>
{% include "partials/menus/generic-menu.html" with entries=entries.entries feincms_page=entries.page%}