---
title: "Campus Map - Embed"
layout: "embed"
styles: ["/styles/full-screen.css", "/styles/map.min.css"]
scripts: ["//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js", "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js", '//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js', '//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"', '//maps.googleapis.com/maps/api/js?key=AIzaSyDDUwTu17HXTUyuYLSe9e22p36sjKhiHpk&sensor=true', '/scripts/map.all.min.js']
list_in_sandbox: false
debug: false
---
<div ng-app="SHCMap" ng-controller="MapCtrl" style="height:100%">
	<div id="map-canvas" style="height:100%"></div>
</div>
