{% verbatim %}
<div ng-app="SHCMap" ng-controller="MapCtrl">
    <div class="apps campus-map">
        <div class="medium-12 columns">
            <div class="action-back" ng-show="qs.ref && qs.refurl">
                <a class="btn btn-primary" ng-href="{{ qs.refurl }}" role="button">{{ qs.ref }}</a>
            </div>
        </div>
		<div class="medium-12 columns" ng-class="{false:'loading'}[map.ready]">
            <div ng-show="map.ready" ng-cloak>
				<ul class="button-group">
					<li>
						<a href="#"
							class="button small"
							ng-class="{true:'active'}[map.kml_data.parking.visible]"
							ng-click="map.toggle_kml_by_id('parking')"
							title="Show or hide parking map"
							eat-click>
							<span class="fa fa-car"></span> {{ map.kml_data.parking.name }}
						</a>
					</li>
					<li>
						<a href="#"
							class="button small action-beautify"
							ng-class="{true:'active'}[map.beautify]"
							ng-click="map.clear()"
							title="Hide the map icons"
							eat-click>
							<span class="fa fa-eye"></span> Beautify
						</a>
					</li>
					<li>
						<a href="#"
							ng-click="map.reset()"
							title="reset map position"
							class="button small action-reset"
							title="Reset the map to its original position"
							eat-click>
							<span class="fa fa-refresh"></span> Reset Position
						</a>
					</li>
                    <li>
                        <a href="#"
                            data-dropdown="drop1"
                            aria-controls="drop1"
                            aria-expanded="false"
                            class="button small dropdown">Examples</a><br>
                        <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                            <li ng-repeat="ex in map.help_examples">
                                {{  ex.name }}: <a href="#" ng-click="$parent.search.q = ex.search_string" eat-click>{{ ex.search_string }}</a>
                            </li>
                        </ul>
                    </li>
				</ul>
				<div class="row">
					<div class="small-12 columns">
						<div class="row collapse">
							<label for="search-map" class="show-for-sr">Search the Map</label>
							<div class="small-11 columns">
								<input type="text" ng-model="search.q" name="search-map" class="form-control" placeholder="Search by building, department, or function" />
							</div>
							<div class="small-1 columns">
								<span class="postfix">
									<a href="#" class="input-group-addon" title="clear search" ng-click="search.clear()" eat-click>
										<span ng-class="{'fa fa-repeat fa-spin fa-fw': map.loading, 'fa fa-times-circle': !map.loading}"></span>
									</a>
								</span>
							</div>
						</div>
						<ul class="side-nav search-results" ng-if="map.filteredResults().length">
							<li>
								<a href="#" ng-repeat="item in map.filteredResults()" ng-click="map.show_marker_by_item_id(item.id)" class="list-group-item" eat-click>{{ item.name }}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="medium-12 columns map">
			<div id="map-canvas"></div>
			<div grab-handle visible-on="visible-xs visible-sm"></div>
		</div>
		<div class="medium-12 columns">
			<div ng-show="map.kml_data.parking.visible" ng-cloak>
				<ul class="parking-key list-group list-inline">
					<h3>Parking Key</h3>
					<li class="visitor list-group-item"><em></em>Visitor</li>
					<li class="facstaff list-group-item"><em></em>Facstaff</li>
					<li class="resident list-group-item"><em></em>Resident</li>
					<li class="commuter list-group-item"><em></em>Commuter</li>
				</ul>
				<p class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span> Note that parking outlines are approximate. Drivers should park only in appropriately marked spaces.</p>
			</div>
		</div>
    </div>
</div>
{% endverbatim %}
