{% load util_tags %}
{% for page in page_list %}
    <p>
        <a href="{{ page.get_navigation_url }}" class="box">{{ page.content_title }}</a>
        {{ page.publication_date|date:"F d, Y" }}
    </p>
{% endfor %}
