{% load thumbnail util_tags %}
<div class="majors">
{% for group in groups %}
	<h2>{{ group.area.title }}</h2>
	<ul class="majors-list">
	{% for degree in group.degrees %}
	<li><a href="{{ degree.page_ref.get_absolute_url }}">{{ degree.page_ref.title }}</a>
	</li>
	{% endfor %}
	</ul>
{% endfor %}
</div>
