{{#if urls}}
{{#each urls }}
{{#ifCond type '==' "homepage"}}
<a href="{{ url }}" class="button large expand">Visit<br><span class="has-icon home">{{url_title}}<br><small>for details on this program</small></a>
{{/ifCond}}
{{/each}}
{{/if}}