{% load feincms_tags feincms_page_tags util_tags %}
{% if major_types %}
{% for mtype in major_types %}
	{% if legend %}
		<p>
	{% endif %}
	<span class="MMC_label {{ mtype.code }}" data-tooltip aria-haspopup="true" class="has-tip" title="{{ mtype.description }}">{{ mtype.code }}</span>
	{% if legend %}
		&ndash; {{ mtype.description }}</p>
	{% endif %}
{% endfor %}
{% endif %}
