{% load util_tags %}
<h3>Other degrees in {{ area_degrees.area.title }}</h3>
<ul class="side-nav">
{% for degree in area_degrees.degrees %}
<li><a href="{{ degree.page_ref.get_absolute_url }}">{{ degree.page_ref.content_title }}</a></li>
{% endfor %}
</ul>
