{% extends "grid/bricks_two-col_left-sidebar.html" %}
{% block content %}
	{% if object_list.fac %}
		<h3>Faculty Postings</h3>
		{% include "jobs/job_listing.html" with jobs=object_list.fac %}
	{% endif %}
	{% if object_list.staff %}
		<h3>Staff Postings</h3>
		{% include "jobs/job_listing.html" with jobs=object_list.staff %}
	{% endif %}
{% endblock %}