<p><strong>posted</strong><br>{{ job.posted_date|date:"D M d, Y" }}</p>
<p><strong>updated</strong><br>{{ job.last_updated|date:"D M d, Y" }}</p>
{% if job.job_description %}
	<a class="file-pdf button info" href="{{ job.job_description.url }}">
		<i class="icon-pdf"></i>
		<span>Download Job Description</span>
		<small>[{{ job.job_description.size|filesizeformat }}]</small>
	</a>
{% endif %}
