{% load content_tags util_tags applicationcontent_tags %}
<div class="job_postings">
	{% for job in jobs %}
	<div class="row {% cycle 'even' 'odd' %}">
		<div class="medium-9 columns">
			{% include 'jobs/job_summary.html' with brief=True %}
		</div>
		<div class="medium-3 columns meta">
			{% include 'jobs/job_meta.html' %}
		</div>
	</div>
	{% endfor %}
</div>
